body {
    padding: 0px;
    margin: 0px;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 30% auto 10%;
    height: 100vh;
}

header {
    grid-area: header;
    background-color: black;
    color: white;
    padding: 20px;
}

div#time{
    font-size: 3em;
    text-align: right;
    padding-right: 50px;
}

div#date{
    font-size: 1.5em;
    text-align: right;
    padding-right: 50px;
}

#teslalogo{
    float:left;
}

main {
    grid-area: main;
    background: black;
    padding-top: 35px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}

footer {
    grid-area: footer;
    background: black;
    padding: 20px;
    color: white;
}


