body {
    padding: 0px;
    margin: 0px;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 15% auto 8%;
    height: 100vh;
}

header {
    grid-area: header;
    background: #fdff80;
    padding: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

main {
    grid-area: main;
    display:grid;
    grid-template-areas:"div1 div2 div3" "div4 div5 div6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: #9eff80;
    padding: 0px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: black;
}

footer {
    grid-area: footer;
    background: #ff8086;
    padding: 20px;
    text-align: center;
    color: white;
}

button.item {
    background: #f480ff;
    padding: 20px;
    margin: 20px;
    display: inline-block;

}

#div1{
    grid-area: div4;
    color:white;
}

#div2{
    grid-area: div1;
}

#div3{
    grid-column: 1;
    grid-row: 3;
}

#div4{
    grid-column: 2;
    grid-row: 1;
}

#div5{
    grid-column: 2;
    grid-row: 2;
}

#div6{
    grid-column: 2;
    grid-row: 3;
}
